.login .form {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: -160px 0 0 -160px;
  width: 380px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
}

.login .form button {
  width: 100%;
}

.login .title {
  text-align: center;
  direction: rtl;
  margin: 20px 0px;
}
.login .form p {
  color: #cccccc;
  text-align: center;
  margin-top: 16px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.login .logo {
  text-align: center;
  cursor: pointer;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .logo img {
  margin-right: 8px;
}
.login .logo span {
  vertical-align: text-bottom;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  color: blue;
}
.login .ant-spin-container,
.ant-spin-nested-loading {
  height: 100%;
}
.login .footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.login .login-button {
  margin-top: 0.5rem;
}
