/* @font-face {
    font-family: SDF;
    src: url(/fonts/iranyekan-regular.woff);
  }
  
  @font-face {
    font-family: SDF;
    src: url(/fonts/iranyekan-bold.woff);
    font-weight: bold;
  }
   */

   @font-face {
    font-family: SDF;
    src: url(/fonts/fontfa.woff);
    
  }
  
  @font-face {
    font-family: SDF;
    src: url(/fonts/fontfa.woff);
  }
  
  