@import "./globals/globals.css";
@import "~antd/dist/antd.css";
@import "./layout/layout.css";
@import "./pages/pages.css";
@import "./components/components.css";


@font-face {
  font-family: IRANSans2;
  font-style: normal;
  src: url("assets/fonts/IRANSans2.woff") format("woff");
}

body {
  font-family: IRANSans2 !important;
  font-size: 13px;
}

tspan {
  unicode-bidi: plaintext;
}


@media (max-width: 600px) {
  .react-grid-item {
    width: 100% important;
  }
}

/* .ant-card-actions{
  background: none;
  } */


.enNumber {

  font-family: IRANSans2 !important;
  /* font-size: 20px !important;
  font-weight: bold !important; */
}


.enCardNumber {

  font-family: IRANSans2 !important;
  /* font-size: 40px !important;
  font-weight: bold !important; */
}

.enNumTable,
.ant-table-tbody>tr>td {

  font-family: IRANSans2 !important;
  /* font-size: 20px; */
}

.ant-tag {
  padding: 10px;
}

.ant-table-tbody>tr>td {
  border: 1px solid #f0f0f0 !important;
}

.ant-table-cell-row-hover {
  /* background-color: #aae7ff8e !important; */
  background-color: #76c3e0  !important;
}

.ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: #ecfaff  !important;
}


.ant-card-body {
  padding: 3px 10px !important;
}

.ant-input[disabled] {
  color: #000 !important;
}

.ant-modal-header {
  background-color: #aae7ff8e;
}

.ant-layout-header {
  height: 54px;
}

.btn-icon-style {
  font-size: 16px;
  margin-right: 4px;
  margin-top: -2px;
}

.box-row-shadow {
  box-shadow: 0px 1px 4px 0px #00000040;
}

.ant-collapse-header {
  background-color: #bceffc;
}

.custom-ant-collapse-header-yellow>.ant-collapse-header {
  background-color: rgba(247, 247, 110, 0.601) !important;
}

.custom-ant-collapse-header-green>.ant-collapse-header {
  background-color: rgba(6, 255, 118, 0.561) !important;
}

.custom-ant-collapse-header-red>.ant-collapse-header {
  background-color: rgba(255, 52, 6, 0.406) !important;
}
.custom-ant-collapse-header-gray >.ant-collapse-header {
  background-color: #ccc !important;
}

.site-calendar-demo-card {
  width: 28%;
  height: 300px;
  border: 1px solid #0cabdb;
  border-radius: 15px;
  background-color: #0cabdb;
}

.chartdiv1 {
  width: 71%;
  height: 300px;
}

.chartdiv {
  width: 70%;
  height: 200px;
}

.progressdiv {
  width: 17%;
  height: 300px;
}

/* dashbord-style */

.icon {
  background-color: #fff;
}

.layout-dashboard .header-control .anticon.anticon-search svg {
  width: 16px;
  height: 16px;
}

.layout-dashboard .header-control .header-search .ant-input-suffix .ant-input-search-icon.anticon-loading,
.layout-dashboard .header-control .sidebar-toggler {
  display: block;
}

.widget-2 .icon {
  width: 64px;
  height: 64px;
  margin: auto;
  background-color: #1890ff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.header-solid .ant-card-head {
  border-bottom: 0;
}

.ant-card-head-wrapper {
  min-height: 50px;
}

.widget-2 .ant-statistic-title h6 {
  font-weight: 600;
}

.widget-2 .ant-statistic-title p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.widget-2 .ant-statistic-content {
  font-family: open sans, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 16px;
  border-top: 1px solid #f5f5f5;
  text-align: center;
}

.widget-2 .ant-statistic-title {
  text-align: center;
  padding: 16px 16px 0;
}

.widget-2 .ant-card-body {
  padding: 0;
}

.widget-2 .icon img {
  width: 30px;
}

.layout-dashboard-rtl .ant-layout-sider.sider-primary .ant-menu-item .icon,
.layout-dashboard-rtl .ant-layout-sider.sider-primary .ant-menu-submenu .icon {
  margin-left: 11px;
  margin-right: 0;
}

/* icon */
.tablespace .ant-card-head-title {
  font-size: 20px;
  font-weight: 600;
}

.ant-card-head-title p {
  font-weight: 600;
  color: #8c8c8c;
  margin-bottom: 0;
}

.ant-card-head-title h6 {
  margin-bottom: 0;
}

.card-profile-head .ant-card-head {
  border-bottom: 0px;
  padding: 0px 16px;
}

.card-profile-head .ant-card-head .ant-avatar {
  box-shadow: 0 5px 10px rgb(0 0 0 / 12%);
  border-radius: 8px;
  margin: 0;
}

.card-profile-head .ant-card-head .avatar-info {
  margin-left: 16px;
}

.card-profile-head .ant-card-head .avatar-info h4 {
  font-size: 24px;
}

.layout-profile .ant-card-head {
  padding: 0 16px;
}

.fill-gray-7 {
  fill: #8c8c8c !important;
}

.fill-danger {
  fill: #ff4d4f;
}

.fill-muted {
  fill: #8c8c8c;
}

.fill-danger {
  fill: #ff4d4f;
}

.mb-24 {
  margin-bottom: 24px;
}

.m-30,
.mr-30,
.mx-30 {
  margin-right: 30px !important;
}

.m-auto,
.ml-auto {
  margin-left: auto !important;
}

.h-full {
  height: 100%;
}

.ant-row-flex-middle {
  align-items: center;
}

.ant-row {
  margin-left: 0px;
  margin-right: px;
}

.font-semibold {
  font-weight: 600;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ant-btn.ant-btn-link.ant-edit-link {
  font-weight: 600;
  font-size: 12px;
  height: 40px;
  padding: 0 15px;
  box-shadow: none;
}

.ant-btn.ant-btn-link.ant-edit-link img {
  width: 20px;
}

.ant-btn.ant-btn-link.ant-edit-link {
  font-weight: 600;
  font-size: 12px;
  height: 40px;
  padding: 0 15px;
  box-shadow: none;
}

.ant-btn.ant-btn-link.ant-edit-link img {
  width: 20px;
}

.ant-invoice-card .ant-card-body {
  padding-top: 0px;
}

.invoice-list .ant-list-item,
.transactions-list .ant-list-item {
  padding: 11px 0;
  border-bottom: 0;
}

.ant-invoice-card .ant-card-body {
  padding-top: 0px;
}

.invoice-list .ant-list-item-meta-title,
.transactions-list .ant-list-item-meta-title {
  font-size: 14px;
  font-weight: 600;
  color: #141414;
}

.invoice-list .ant-list-item-meta-description,
.transactions-list .ant-list-item-meta-description {
  font-size: 12px;
  font-weight: 600;
  color: #8c8c8c;
}

.invoice-list .ant-list-item-action .ant-btn,
.transactions-list .ant-list-item-action .ant-btn {
  font-weight: 600;
  color: #141414;
  box-shadow: none;
}

.ant-btn>svg,
.ant-btn>svg+span {
  vertical-align: middle;
}

.invoice-list .amount,
.transactions-list .amount {
  font-size: 14px;
  font-weight: 600;
  color: #8c8c8c;
}

.card-billing-info.ant-card {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #f5f5f5;
}

.card-billing-info.ant-card .darkbtn {
  color: #8c8c8c;
}

.card-billing-info .col-action button {
  height: 34px;
  font-size: 12px;
  padding: 0 15px;
  box-shadow: none;
}

.card-billing-info.ant-card .ant-descriptions-header {
  margin-bottom: 0px;
}

.ant-card.ant-list-yes .ant-list-header {
  border: 0px;
}

.ant-card.ant-list-yes .ant-list-header h6 {
  font-size: 12px;
  font-weight: 600;
  color: #8c8c8c;
  margin: 6px 0;
}

.card-header-date {
  margin-bottom: 0;
  font-weight: 700;
  color: #8c8c8c;
}

.card-header-date>* {
  vertical-align: middle;
}

.card-header-date svg {
  margin-right: 5px;
}

.ant-list.ant-list-split.transactions-list.ant-newest .ant-list-header {
  padding-top: 0px;
}

element.style {
  width: 100%;
}

.company-header.icon-box svg {
  font-size: 25px;
  color: #1890ff;
}

.bnb2 {
  color: #52c41a;
  font-weight: 700;
}

.request-box-icon {
  font-size: 28px;
  color: #fff;
}

/* dashbord-mrlist , po-list*/
.tablespace .ant-card-head-title {
  font-size: 20px;
  font-weight: 600;
}

.ant-card-head-title p {
  font-weight: 600;
  color: #8c8c8c;
  margin-bottom: 0;
}

.ant-card-head-title p {
  font-weight: 600;
  color: #8c8c8c;
  margin-bottom: 0;
}

.ant-card-head-title h6 {
  margin-bottom: 0;
}

.ant-card.criclebox table th {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

.ant-card.criclebox table td {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
}

.tablespace {
  overflow: hidden;
}

.ant-card.tablespace .ant-card-body {
  padding: 0px;
}

.ant-border-space th:before {
  display: none;
}

.dashboard-table table th,
.dashboard-table table td {
  font-size: 14px !important;
}

.dashboard-card .ant-card-head {
  background-color: #e8e8e8;
}

.dashboard-card .ant-card-head .ant-card-extra {
  padding: 0;
}

.company-dashboard-service-card .ant-statistic-content-value {
  font-size: 16px;
  font-weight: normal;
}

.company-info-actions button {
  margin-right: 10px;
}

.ant-input-number-input{
  color: #000;
}

.cpcard-extra-padding-0 {
  padding: 0;
}

/* Echart Style  */

.bar-chart {
  background: transparent linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 6px #0000001f;

  border-radius: 8px;
}

.bar-chart {
  width: 100% !important;
  max-width: 100%;
}

.bar-chart {
  width: 100% !important;
}

@media (max-width: 1024px) {
  .bar-chart {
    max-width: 100%;
  }

  .full-width {
    max-width: 100%;
  }
}

.bar-chart line.apexcharts-xaxis-tick {
  stroke: transparent;
}
.chart-vistior {
  margin-top: 30px;
}
.chart-vistior h5 {
  margin: 0px;
  font-weight: 700;
}
.ant-typography.lastweek {
  color: #8c8c8c;
  font-weight: 600;
}
.bnb2 {
  color: #52c41a;
  font-weight: 700;
}
.chart-visitor-count h4 {
  margin: 0px;
  font-weight: 700;
}

.chart-visitor-count span {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
}
/* end chart style  */

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color:black;
  }

  .ant-descriptions-bordered .ant-descriptions-view > table {
    table-layout: fixed;
  }

  .company-action-button-container button{
    margin: 0 5px;
  }
  .ant-upload.ant-upload-drag p.ant-upload-drag-icon{
    margin-bottom:2px;
  }

  .show-file-uploader-item{
    width: 75px;
    height: 75px;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 22px;
    background-color: #cccccc5e;
  }

  .ant-checkbox-disabled .ant-checkbox-inner {
    background-color: #b4c1d7;
    border-color: #0592d2 !important;
}
.ant-pagination {
  padding: 5px 17px;
  background-color: #eee;
}

.login-input{
  padding: 8px 7px;
}
.login-button{
  margin: 10px 0;
}

.ant-divider-horizontal {
    margin: 5px 0;
}

.login-form{
  background-color:#eee;
  padding: 100px 50px;
}

.login-form form{
  width: 60%;
}

@media (max-width: 600px){
  .login-form{
    padding: 40px 10px 20px;
  }

  .login-form form{
    width: 80%;
  }

  .login-bg{
    display: none;
  }
  
}

.show-btn{
  padding: 0 4px;
}


.ant-picker-input > input[disabled] {
  color: black;
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}

.ql-container {
  height: 95%;
}

.ql-editor img{
  max-width: 500px;
  max-height: 500px;
}

.quill{
  display: block;
  margin-bottom: 30px;
}

.list-no-style{
  list-style-type: none;
}

.download-link-btn{
  cursor: pointer;
  margin: 3px 0;
  display: block;
}

.download-link-btn:hover{
  color: #206eff;
  font-weight: bold;
}

.ant-table-title {
  border-radius: 2px 2px 0 0;
  background-color: #eee;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
}

/* .ant-card-grid {
  padding: 0 8px;
} */
.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label
{
  text-align: right;
    font-weight: bold;
}

.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label, .ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-content {
  padding: 8px 5px;
}

.company-link {
  cursor: pointer;
}

.company-link:hover .ant-tag{
  background-color: #89d2ec;
}

.ant-table.ant-table-small .ant-table-title{
  padding: 0 8px;
}

.show-file-box {
  background-color: #fafafa;
  padding: 5px;
  border: 1px dashed #d9d9d9;
}

.ant-form-vertical .ant-form-item-label > label
{
  font-weight: bold;
}

.ant-table-column-title {
  font-weight: bold;
}

th.ant-table-cell.ant-table-cell-ellipsis, .ant-table-thead > tr > th{
  font-weight: bold;
}

.custom-border .ql-container.ql-snow {
  border: none;
}

/* .ant-tooltip{
  max-width :fit-content !important ;
} */

.layout-tagView {
  overflow-x: hidden;
}

.menuitem{
  cursor: pointer;
}

.tox-notifications-container
{
  display:none !important;
}

.mce-rtl .mce-flow-layout {
  text-align: right;
  direction: rtl;
}

.captcha-refresh-icon
{
  font-size: 28px;
  cursor: pointer;
  margin: 0 5px;
  padding-top:33px;
  display: block;
  color: #444;
}

.captcha-refresh-icon:hover{
  color: #000;
}

.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-item-label {
  font-weight: 700;
  text-align: left;
}


.show-file-box {
  background-color: #fafafa;
  padding: 5px;
  border: 1px dashed #d9d9d9;
}


.list-no-style{
  list-style-type: none;
}



.apexcharts-text tspan{
  font-family: IRANSans2 !important;
}

.apexcharts-text .apexcharts-yaxis-label {
  font-family: IRANSans2 !important;
}


.zaman-date-picker {
  direction: rtl;
  z-index: 9999;
}

.zm-IconPrevButton {
  transform: rotate(180deg);
}


.zm-IconNextButton {
  transform: rotate(180deg);
}

.d-none{
  display: none;
}